body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e4e8eb;
}

.calculator {
    border: 2px solid #020608;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#display {
    width: calc(94% - 20px);
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: #d7e5e9;
}

.buttons {
    display: grid;
    border: 1px solid #3498db;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #ffffff;
    cursor: pointer;
}

button:active {
    background-color: #2980b9;
}

button:not([onclick^="appendToDisplay"]) {
    background-color: #34495e;
}

button[onclick^="appendToDisplay"] {
    background-color: #3498db;
}